# Xcode
**/DerivedData/
**/Build/
**/.swiftpm/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcuserdatad
*.pbxuser
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
**/Pods/

# Swift Package Manager
.build/
Packages/
*.xcodeproj/project.xcworkspace/
*.xcworkspace/

# Debugging
*.xccurrentdebugsession

# User preferences
*.xcscmblueprint

# Derived data
*.xcindex

# Playgrounds
*.playground/Contentsxcuserdata/

# Swift Evolution
.swiftpm/

# Build products
*.app
*.framework
*.dylib
*.so
*.a

# Symbols
*.symboltraces

# Profiling
*.gcov
*.gcda
*.gcno

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# others
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.moved-aside
*.xccheckout
*.swiftpm
*.xcscmblueprint

# Local configuration
*.local
